{% extends "authentication/login.html" %}

{% block title %}register{% endblock %}


{% block firstName %}
        {% include 'authentication/inputField.html' with name="firstname" %}
{% endblock %}

{% block lastName %}
        {% include 'authentication/inputField.html' with name="lastname" %}
{% endblock %}

{% block userName %}
        {% include 'authentication/inputField.html' with name="username" %}
{% endblock %}

{% block accountStatus %}
                    Already have an account? <a href="/login/" class="text-blue-500 hover:underline">Login</a>
{% endblock %}