{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mainpages/electionDetail.css' %}">
    <title>PRVote</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

        body{
           font-family: 'Poppins', sans-serif !important;
           background-color: #ddd;
        }
    </style>
</head>
<body>
    
    <div class="election-container">
        <h1 class="election-title">🗳️ Welcome to the Election</h1>
        <h2 class="election-matchup">{{ election.title }}</h2>
        <div class="election-description">
            <h3>📝 Election Description:</h3>
            <p>{{ election.description }}</p>
        </div>
        <a href="#" class="see-more">
            <!-- <i class="fas fa-chevron-down"></i> -->
            <i class="fas fa-chevron-up icon"></i>

        </a>

        <form method="post"  action="{% url 'cast-vote' election.id %}" class="form-container" data-election-id="{{ election.id }}" data-cast-url="{% url 'cast-vote' election.id %}">
            {% csrf_token %}
             <h1>Ballot</h1>
            {% for candidate in election_candidates %}
            <div  class="candidate-container">
            <input
                type="radio" 
                id="candidate_{{ forloop.counter }}" 
                name="candidates" 
                value="{{ candidate.id }}">
            <label for="candidate_{{ forloop.counter }}">{{ candidate.name }}</label>
         </div>
         {% endfor %}
            <button type="submit" class="cast-btn" >Cast</button>
        </form>
    </div>

    <div class="completion-msg">
       <p class="message-container"></p>
        <span class="escp">❌</span>
    </div>

    <script src="{% static 'mainpages/electionDetail.js' %}"></script>

</body>
</html>