<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

        body{
           font-family: 'Poppins', sans-serif !important;
           background-color: #ddd;
        }
    </style>
</head>
<body>
    
     <h1>Welcome to the the election :{{election.title}}</h1>
    
</body>
</html>